<launch>
    <group ns="prm">
        <rosparam file="$(find segment_pointcloud)/config/pcl_launch_params.yaml" />
    </group>
    <node name="segment_pcl_node" pkg="segment_pointcloud" type="segment_pcl_node.py" output="screen"/>
    <node name="pointcloud_center" pkg="segment_pointcloud" type="pointcloud_center.py" output="screen"/>

</launch>
